<div class="container-fluid">
    <form>
        <div class="form-group">
            <h4>Your Registration Form</h4>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <label>User name</label>
                    <input type="text" formControlName="userName" class="form-control">
                </div>
                <div class="col-md-6">
                    <label>User name</label>
                    <input type="text" formControlName="userEmail" class="form-control">
                </div>
            </div>
        </div>
    </form>
</div>